<% for(let item of book) {%>
    <h1><%= item.title %></h1>
    <h1><%= item.language %></h1>
    <h1><%= item.author_name %></h1>
    <h1><%= item.publisher %></h1>
    <h1><%= item.publish %></h1>
    <img src="<%= item.img %>" alt="">
    <% } %>